/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 1 dic. 2021, 21:15:08
    Author     : Usuario
*/

.T_color{
    color:white;
}
.barra_color{
    background-color: rgb(12, 213, 172);
    color:black;
}
.margin-left{
    margin-left: 10px !important;
}

a {
  color: #02a68a;
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  font-weight: bold;
  font-family: arial;
}

a:link {
  color: #265301;
}

a:visited {
  color: #437A16;
}
