<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorRegistros</servlet-name>
        <servlet-class>controlador.ControladorRegistros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUsuarios</servlet-name>
        <servlet-class>controlador.ControladorUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCategorias</servlet-name>
        <servlet-class>controlador.ControladorCategorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorLogin</servlet-name>
        <servlet-class>controlador.ControladorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorBolsillos</servlet-name>
        <servlet-class>controlador.ControladorBolsillos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorReportes</servlet-name>
        <servlet-class>controlador.ControladorReportes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPerfil</servlet-name>
        <servlet-class>controlador.ControladorPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCate</servlet-name>
        <servlet-class>controlador.ControladorCate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorRegistros</servlet-name>
        <url-pattern>/ControladorRegistros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsuarios</servlet-name>
        <url-pattern>/ControladorUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCategorias</servlet-name>
        <url-pattern>/ControladorCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorLogin</servlet-name>
        <url-pattern>/ControladorLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorBolsillos</servlet-name>
        <url-pattern>/ControladorBolsillos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorReportes</servlet-name>
        <url-pattern>/ControladorReportes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPerfil</servlet-name>
        <url-pattern>/ControladorPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCate</servlet-name>
        <url-pattern>/ControladorCate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
